html, 
body {
   position: relative;
   overflow: hidden;
   height: 100%;
   width: 100%;
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
   min-height: 350px;
}

label {
   display: block;
   font-size: 14px;
}

input[type=text],
input[type=password] {
   padding-left: 5px;
}

textarea:focus,
input:focus {
   outline: 0;
}

a {
   color: #4d70ea; 
   text-decoration: none;
   display: inline;
}

.player-modal a:hover {
   text-decoration: underline;
}

img {
   user-drag: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
}

#side-bar {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -o-box-sizing: border-box;
   float: left;
   height: 100%;
   width: 240px;
   cursor: default;
   background: #dfdfdf;
}

#side-bar,
#list-view,
#player-view {
   position: relative;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.theme {
   background: #dfdfdf;
}

.light-theme {
   background: #dfdfdf;
}

.dark-theme {
   background: #4a4a4a;
}

#new-category,
#new-playlist {
   width: 100%;
}

#new-category:hover,
#new-playlist:hover {
   cursor: pointer;
}

#side-bar ul {
   list-style-type: none;
   padding: 0px;
   margin: 0px;
}

.list-title.selected {
   background-color: #4d70ea !important;
   color: white;
}

.manager-head {
   padding-left: 10px;
   position: relative;
   font-weight: 700;
   color: #4a4a4a;
   height: 30px;
   line-height: 30px;
}

#category-manager .manager-head:hover .edit-lists {
   display: inline-block;
}

#playlist-manager .manager-head:hover .edit-lists {
   display: inline-block;
}

#library,
#playlists {
   position: relative;
}

.manager-head .edit-lists {
   opacity: 0.7;
   position: absolute;
   top: 9px;
   display: none;
   margin-left: 10px;
   cursor: pointer;
}

#category-manager {
   padding-top: 10px;
   border-top: solid 1px #cdcdcd;
   min-height: 100px;
}

#playlist-manager {
   min-height: 100px;
}

#category-manager,
#playlist-manager {
   width: 240px;
   position: relative;
   margin-bottom: 10px;
}

#category-titles {
   height: 200px;
}

.drag-ghost {
   visibility: hidden;
}

.grab-list {
   position: absolute;
   top: 0px;
   left: 5px;
   height: 25px;
   width: 20px;
   background: transparent url('/img/grabList.png') center center no-repeat;
   cursor: move;
   opacity: 0.6;
}

.grab-link {
   position: absolute;
   right: 5px;
   top: 0px; 
   height: 25px;
   width: 10px;
   opacity: 0.3;
   cursor: move;
   background: transparent url('/img/grabLink.png') center center no-repeat;
   display: none;
}

.editing .title-wrap {
   width: 68%;
   padding-left: 10px;
}

.editing .list-title {
}

.list-title {
   position: relative;
   height: 25px;
   line-height: 25px;
   vertical-align: center;
}

.list-title .rename,
.list-title .remove,
.list-title .finish-rename,
.list-title .cancel-rename{
   opacity: 0.6;
   position: absolute;
   top: 5px;
   background-repeat: no-repeat;
   height: 100%;
   width: 20px;
   cursor: pointer;
}

.list-title .rename {
   right: 22px;
   background-image: url('/img/rename.png');
}

.list-title .remove {
   right: 2px;
   background-image: url('/img/remove.png');
}

.list-title .finish-rename {
   right: 24px;
   background-image: url('/img/finishRename.png');
}

.list-title .cancel-rename {
   right: 2px;
   background-image: url('/img/cancelRename.png');
}

.list-title .rename-box {
   border: solid 1px #cdcdcd;
   width: 85%;
   height: 22px;
}

#side-bar .actions {
   position: relative;
   height: 40px;
}

#side-bar .save,
#side-bar .cancel {
   text-align: center;
   cursor: pointer;
   position: absolute;
   bottom: 10px;
   margin-top: 10px;
}

#side-bar .save {
   left: 10px;
}

#side-bar .cancel {
   right: 10px;
   opacity: 0.6;
   background-image: url('/img/cancel.png');
   background-repeat: no-repeat;
   height: 27px;
   width: 27px;
}

.list-title .title-wrap {
   margin-left: 20px;
   margin-right: 10px;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

#list-view {
   height: 100%;
   overflow: hidden;
}

#loading-list {
   position: absolute;
   display: none;
   bottom: 0px;
   z-index: 100;
}

#list-cover {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0.5;
   background: #fff;
   z-index: 50;
}

#link-list {
   transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -webkit-transition: all 1s ease-in-out;
   position: absolute;
   top: 340px;
   bottom: 0px;
   left: 0;
   right: 0;
   width: 100%;
   text-align: left;
}

#list-head {
   position: relative;
   height: 30px;
   text-align: left;
   line-height: 30px;
   background: white;
   margin-right: 14px;
   border-bottom: solid 1px #efefef;
   white-space: nowrap;
}

#empty-list {
   position: absolute;
   width: 350px;
   top: 30%;
   left: 50%;
   margin-left: -175px;
   opacity: 0.3;
   display: none;
   text-align: center;
}

#empty-list .text-body {
   width: 300px;
   margin: auto;
   margin-bottom: 20px;
}

#empty-list .add-many,
#empty-list .add-one {
   cursor: pointer;
}

#empty-list .add-many {
   margin-right: 30px;
}

#empty-list .add-one {
   margin-left: 30px;
}

.sort-arrow {
   position: absolute;
   right: 15%;
   top: 10px;
   height: 12px;
   width: 12px;
}

.sort-arrow.descending {
   background: transparent url('/img/sortDown.png') center center no-repeat;
}

.sort-arrow.ascending {
   background: transparent url('/img/sortUp.png') center center no-repeat;
}

#list-body {
   overflow-y: scroll;
   overflow-x: hidden;
   width: 100%;
   position: absolute;
   bottom: 0px;
   top: 30px;

}

.col-head {
   position: relative;
   display: inline-block;
   font-weight: 700;
   padding-right: 5px;
   white-space: nowrap;
}

.col-head.sortable {
   cursor: pointer;
}

.wrapped-link {
   position: relative;
   height: 25px;
   line-height: 25px;
   vertical-align: bottom;
   border-bottom: solid 1px #efefef;
   cursor: default;
   white-space: nowrap;
}

.wrapped-link:hover .play {
   background-image: url('/img/playIcon.png');
}

.wrapped-link:hover .grab-link {
   display: block;
}

.wrapped-link .play:hover {
   cursor: pointer;
}

.play {
   background-repeat: no-repeat;
   background-position: center;
}

/* columns */
.col-zero {
   width: 3%;
}

.col-one {
   width: 30%;
}

.col-two {
   width: 30%;
}

.col-three {
   width: 25%;
}

.col-four {
   width: 10%;
}
/* end columns */

.item-content {
   display: inline-block;
   height: 25px;
   position: relative;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   line-height: 25px;
   vertical-align: bottom;
   padding-right: 5px;
}

/* player */
#player-view {
   transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -webkit-transition: all 1s ease-in-out;
   height: 300px;
   background: #1b1b1b;
}

#player {
   position: relative;
   float: left;
   height: 100%;
   width: 75%;
   background: #1b1b1b;
}

#suggestion-feed {
   position: relative;
   float: right;
   width: 25%;
   height: 100%;
   background: #1b1b1b;
   overflow: hidden;
   overflow-y: scroll;
}

.feed-logo {
   position: absolute;
   top: 50%;
   right: 50%;
   margin-right: -90px;
   margin-top: -70px;
}

.suggestion {
   position: relative;
   height: 55px;
   width: 100%;
   overflow: hidden;
   color: #ababab;
   font-size: 12px;
   cursor: pointer;
}

.suggestion .details {
   margin-left: 75px;
   margin-right: 10px;
   margin-top: 8px;
   height: 36px;
   overflow: hidden;
}

.suggestion .artist {
   line-height: 18px;
   font-weight: 600;
   font-size: 12px;
}

.suggestion .title {
   line-height: 18px;
   font-size: 15px;
}

.suggestion:hover {
   background: #454545;
}

.suggestion .thumb {
   position: absolute;
   top: 8px;
   left: 10px;
}

/* resize buttons */
#resize-buttons {
   height: 15px;
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -37.5px;
   border-radius: 2px;
}

.resize-player {
   display: inline-block;
   width: 15px;
   margin-left: 2px;
   margin-right: 2px;
   line-height: 15px;
   vertical-align: center;
   height: 15px;
}

.size-button {
   background: #bababa;
}

.size-button:hover {
   background: #ababab;
}

#large-view .size-button {
   margin-top: 2px;
   height: 10px;
}

#normal-view .size-button {
   margin-top: 2px;
   height: 6px;
}

#no-view .size-button {
   margin-top: 2px;
   height: 2px;
}

.resize-player:hover {
   cursor: pointer;
}

.item-options {
   background-repeat: no-repeat;
   background-position: center;
}

.playing {
   background-image: url('/img/playing.png');
}

/* menus */
#add-menu {
   display: none;
   position: absolute;
   top: -140px;
   left: -50px;
}

.player-modal {
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   position: absolute;
   width: 90%;
   left: 0;
   right: 0;
   margin: auto;
   max-width: 500px;
   top: 20%;
   z-index: 1000;
   background: white;
   padding-top: 20px;
}

.player-modal label {
   text-align: left;
}

.player-modal input[type=text],
.player-modal input[type=password] {
   position: relative;
   width: 90%;
   height: 25px;
   border: solid 1px #dfdfdf;
   display: inline-block;
   margin: auto;
}

.player-modal input[type=checkbox] {
   margin-right: 10px;
}

.player-modal .help {
   position: absolute;
   margin-bottom: 4%;
   margin-right: 4%;
   bottom: 0;
   right: 0;
}

.player-modal #unlock-password {
   position: absolute;
   top: 22px;
   right: 10%;
   cursor: pointer;
   height: 20px;
   width: 20px;
   opacity: 0.7;
}

.bitcoin-button {
   height: 50px;
   width: 50px;

   background: transparent url('/img/bitcoin.png') center center no-repeat;
}

.locked {
   background: transparent url('/img/locked.png') center center no-repeat;
}

.unlocked {
   background: transparent url('/img/unlocked.png') center center no-repeat;
   margin-right: -2px;
}

.player-modal .link-type {
   position: relative;
   display: inline-block;
   margin-right: 20px;
   cursor: pointer;
}

.link-type input {
   width: 100%;
   display: block;
}

.player-modal .choose-button {
   position: relative;
   overflow: hidden;
   width: 100px;
   height: 80px;
   margin: auto;
   background: transparent url('/img/addFile.png') center center no-repeat;
   text-align: center;
   cursor: pointer;
}

.player-modal .choose-button:hover {
   opacity: 0.7;
}

.player-modal input.input-file {
   height: 100px;
   width: 100px;
   position: absolute;
   top: 0;
   right: 0;
   margin: 0;
   padding: 0;
   cursor: pointer;
   opacity: 0;
   filter: alpha(opacity=0);
}

.file-section {
   white-space: normal;
   position: relative;
   width: 90%;
   margin-bottom: -20px;
}

.player-modal .file-size {
   opacity: 0.6;
}

.player-modal .file-name {
   display: inline-block;
   height: 50px;
   width: 50%;
   min-width: 200px;
   font-weight: 700;
   line-height: 50px;
   vertical-align: 25%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.player-modal .choose-file {
   display: inline-block;
   width: 45%;
   min-width: 150px;
   position: relative;
   padding: 0px;
}

#notifications {
   position: fixed;
   right: 35px;
   bottom: 20px;
   text-align: right;
   z-index: 1000;
   width: 200px;
}

.notify-box a {
   color: white;
}

.notify-box {
   max-width: 200px;
   min-width: 100px;
   position: relative;
   margin-top: 10px;
   opacity: 0.8;
   color: #efefef;
   cursor: default;
   text-align: left;
   font-weight: 550;
   display: inline-block;
}

.notify-body {
   overflow: hidden;
   text-overflow: ellipsis;
   margin: 15px;

}

.notify-box:hover {
   opacity: 1;
}

.notify-box.default {
   background: #4511B8;
}

.close-notification.default {
   border: solid 2px #4511B8;
}

.notify-box.error {
   background: red;
}

.close-notification.error {
   border: solid 2px red;
}

.close-notification {
   position: absolute;
   height: 23px;
   width: 23px;
   top: -5px;
   right: -5px;
   background: url('/img/close.png') no-repeat center;
   background-color: black;
   cursor: pointer;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

input[type=text]:focus {
   transition: all 100ms linear;
   -moz-transition: all 100ms linear;
   -webkit-transition: all 100ms linear;
}

.player-modal select {
   height: 29px;
   line-height: 29px;
   width: 20%;
   border-radius: 0px;
   border: solid 1px #dfdfdf;
   background: #efefef;
}

.modal-section.link input[type=text] {
   border-radius: 0px;
   display: inline-block;
   width: 70%;
}

.modal-section.extract select {
   width: 90%;
}

.player-modal .sources {
   display: none;
}

.player-modal input[type=submit] {
   display: block;
}

.modal-section {
   position: relative;
   margin-bottom: 10px;
   width: 100%;
   white-space: nowrap;
   margin-left: 4%;
}

.modal-text {
   font-size: 14px;
   text-align: left;
   margin-left: 20px;
   margin-right: 20px;
}

.player-modal .form-button {
   margin-left: 4%;
   margin-bottom: 4%;
}

.section-title {
   font-weight: 700;
}

.section-title img {
   margin-right: 15px;
}

.form-button {
   border: 0;
   background: #4d70ea; 
   color: white;
   padding: 5px;
   padding-left: 15px;
   padding-right: 15px;
   margin-top: 20px;
}

.form-button:hover  {
   opacity: 0.8;
}

.close-modal {
   position: absolute;
   height: 23px;
   width: 23px;
   top: -5px;
   right: -5px;
   background: url('/img/close.png') no-repeat center;
   background-color: black;
   cursor: pointer;
   border: solid 2px white;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.close-modal:hover {
   background: url('/img/close.png') no-repeat center;
   background-color: #cc181e;
}

.edit-container {
   display: none;
}

.new-list {
   position: relative;
   margin: 5px;
   margin-left: 20px;
   display: hidden;
}

.new-list input[type=text] {
   height: 25px;
   width: 90%;
   border-radius: 0px;
   border: solid 1px #cdcdcd;
   display: block;
}

.new-list .save-new,
.new-list .cancel-new {
   display: inline;
   opacity: 0.7;
   margin: 5px;
   cursor: pointer;
}

.new-list .save-new:hover,
.new-list .cancel-new:hover {
   opacity: 0.9;
}

.disabled.save-new {
   opacity: 0.3;
}

.disabled.save-new:hover {
   opacity: 0.3;
}

.click-menu {
   padding-top: 5px;
   padding-bottom: 5px;
   width: 180px;
   height: 120px;
   position: absolute;
   background: #fff;
   box-shadow: 0px 2px 5px #777777;
   border-radius: 4px;
   text-align: left;
   overflow: hidden;
   z-index: 500;
}

.click-menu .link-options {
   overflow: hidden;
   position: absolute;
   height: 100%;
   width: 180px;
   left: 0px;
}

.menu-body {
   position: relative;
   width: 360px;
   height: 100%;
   left: 0px;
}

.menu-divide {
   width: 100%;
   border-top: solid 1px #dfdfdf;
}

.click-menu .menu-playlists {
   position: absolute;
   width: 180px;
   height: 100%;
   right: 0px;
}

.playlist-options {
   height: 150px;
}

.menu-playlists .menu-option {
   width: 150px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.menu-option {
   position: relative;
   height: 20px;
   width: 100%;
   line-height: 20px;
   vertical-align: middle;
   padding: 5px 30px 5px 20px;
   cursor: pointer;
}

.menu-option:hover {
   background: #4d70ea;
   color: white;
}

.menu-option .menu-arrow {
   position: absolute;
   display: block;
   top: 6px;
   height: 20px;
   width: 20px;
}

.right-arrow {
   right: 55px;
   background: transparent url('/img/rightArrow.png') center center no-repeat;
}

.menu-option.add-to:hover .menu-arrow {
   background: transparent url('/img/rightArrowInverse.png') center center no-repeat;
}

.left-arrow {
   right: 25px;
   background: transparent url('/img/leftArrow.png') center center no-repeat;
}

.menu-option.back-to:hover .menu-arrow {
   background: transparent url('/img/leftArrowInverse.png') center center no-repeat;
}

.library-icon,
.playlists-icon {
   position: absolute;
   display: block;
   top: 6px;
   height: 20px;
   width: 20px;
   right: 65px;
}

.library-icon {
   background: transparent url('/img/libraryIcon.png') center center no-repeat;
}

.menu-option.category:hover .library-icon {
   background: transparent url('/img/libraryIconInverse.png') center center no-repeat;
}

.playlists-icon {
   background: transparent url('/img/playlistsIcon.png') center center no-repeat;
}

.menu-option.playlist:hover .playlists-icon {
   background: transparent url('/img/playlistsIconInverse.png') center center no-repeat;
}

#main-menu div:hover {
   transition: background 0ms;
   -moz-transition: background 0ms;
   -webkit-transition: background 0ms;
   background: #efefef;
}

#main-menu {
   height: 110px;
   width: 240px;
   background: #dfdfdf;
   overflow: hidden;
}

#main-menu div {
   color: #343434;
   text-decoration: none;
   height: 25px;
   width: 100%;
   line-height: 25px;
   vertical-align: center;
   padding: 5px 0px 5px 15px;
   cursor: pointer;
   transition: background 100ms linear;
   -moz-transition: background 100ms linear;
   -webkit-transition: background 100ms linear;
}

#main-menu img {
   margin-right: 12px;
   opacity: 0.7;
}

#player-tools {
   position: absolute;
   bottom: 0;
   left: 0;
   padding-bottom: 10px;
   text-align: center;
   height: 30px;
   width: 100%;
   background: #dedede;
}

#shuffle {
   margin-left: 20px;
   margin-right: 20px;
}

.tool {
   display: inline-block;
   position: relative;
   height: 30px;
}

.tool img {
   opacity: 0.7;
   cursor: pointer;
}

.tool img:hover {
   opacity: 0.9;
}

/* controls */
#user-controls {
   height: 40px;
   line-height: 40px;
   vertical-align: center;
   padding: 0 10px 0 10px;
   width: 100%;
}

.display {
   color: #787878;
}

#main-button {
   position: absolute;
   right: 10px;
   top: 8px;
   cursor: pointer;
}

#player-bar {
   height: 40px;
   width: 100%;
   position: relative;
}

#player-controls {
   height: 40px;
   line-height: 40px;
   display: inline-block;
   vertical-align: middle;
}

.player-control:hover {
   cursor: pointer;
}


#now-playing .details,
#now-playing #add-playing {
   position: relative;
   height: 30px;
   display: inline-block;
   vertical-align: middle;
   margin-top: 5px;
   background: #eeeeee;
}

#now-playing .details {
   line-height: 30px;
   cursor: default;
   width: 20%;
   font-size: 12px;
   padding-left: 10px;
   padding-right: 10px;
   border: solid 1px #cdcdcd;
   color: #787878;
   overflow: hidden;
   text-overflow: ellipsis;
   z-index: 10;
}

#add-playing {
   line-height: 27px;
   width: 30px;
   display: inline-block;
   border: solid 1px #cdcdcd;
   border-left: none;
   padding-left: 10px;
   cursor: pointer;
   opacity: 0;
}

#search-view {
   position: absolute;
   right: 50px;
   top: 50%;
   margin-top: -15px;
   width: 20%;
   transition: width 300ms ease-out;
   -moz-transition: all 300ms ease-out;
   -webkit-transition: all 300ms ease-out;
}

#search {
   height: 20px;
   border: none;
   border-radius: 25px;
   padding-left: 35px;
   padding-top: 5px;
   padding-bottom: 5px;
   background: white;
   outline: 0;
   width: 100%;
}

.search-icon {
   position: absolute;
   left: 5px;
   top: 50%;
   margin-top: -13px;
   right: 200px;
   z-index: 100;
   cursor: pointer;
}

.wrapped-link.selected {
   background: #4d70ea !important;
   color: white;
}

.link-error {
   background: #f08d9e;
}

.item-data {
   display: none;
}

/* misc */
.view-cover {
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
   background: black;
   z-index: 800;
   opacity: 0.6;
}

.phancy-scrollbar {
   width: 5px;
   top: 0;
   right: 2px;
   position: absolute;
   -moz-transition: opacity .2s;
   -webkit-transition: opacity .2s;
   -o-transition: opacity .2s;
   -ms-transition: opacity .2s;
   transition: opacity .2s;
   -webkit-transition-delay: 1s;
   opacity: 0;
}

.phancy-scroller .phancy-scrollbar:active,
.phancy-scroller:hover .phancy-scrollbar {
   opacity: 1;
   -webkit-transition-delay: 0s;
}

.phancy-scrollbarbutton {
   width: 100%;
   top: 0;
   position: absolute;
   background-color: #898989;
   opacity: 0.8;
}

.phancy-scrollbarbutton:hover {
   opacity: 1;
}

/* responsive */
/* 1000px */
.min-bar #main-menu {
   width: 50px;
}

.min-bar #main-menu .menu-text {
   display: none;
}

.min-bar #side-bar {
   width: 50px;
   overflow: visible;
}

.min-bar #player-tools {
   height: 90px;
}

.min-bar .tool {
   display: block;
   height: 33px;
}

.min-bar #shuffle {
   margin: 0px;
}

.min-bar #category-manager,
.min-bar #playlist-manager,
.min-bar .display {
   padding: 0px;
   background: #fff;
   width: 215px;
   min-height: 100px;
   display: none;
   z-index: 500;
   left: 30px;
   position: absolute;
   box-shadow: 0px 2px 5px #777777;
   border-radius: 3px;

}

.min-bar #playlist-titles,
.min-bar #category-titles {
   height: 100%;
   width: 215px;
}

.min-bar #category-manager,
.min-bar #playlist-manager {
   top: 20px;
}

.min-bar .manager-head {
   border-bottom: solid 1px #dfdfdf;
}

.min-bar #collapse-bar {
   display: none;
}

.min-bar .edit-lists {
   display: block;
   position: absolute;
   right: 10px;
}

.min-bar #collapsed-library,
.min-bar #collapsed-playlists {
   cursor: pointer;
   display: block;
   opacity: 0.7;
   height: 45px;
   line-height: 45px;
   vertical-align: middle;
}

#collapsed-library,
#collapsed-playlists,
#expand-bar {
   margin: auto;
   text-align: center;
   display: none;
}

#collapsed-library {
   border-top: solid 1px #cdcdcd;
}

.min-bar #collapsed-library:hover,
.min-bar #collapsed-playlists:hover {
   opacity: 0.9;
}

.min-bar #add-menu {
   left: 15px;
}

/* 700px */
.min-list .col-three,
.min-list .col-four {
   display: none;
}

.min-list .col-one,
.min-list .col-two {
   width: 45%;
}

#collapse-bar {
   position: absolute;
   height: 25px;
   width: 30px;
   top: 0;
   right: 0;
   background: url('/img/collapse.png');
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
   z-index: 100;
}

#expand-bar {
   position: inherit;
   height: 30px;
   width: 30px;
   background: url('/img/expand.png');
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
   margin: auto;
}

#collapsed-playlists {
   border-bottom: solid 1px #cdcdcd;
}
/* end responsive */

/* speenkeet */
.spinner {
   width: 99%;
   height: 55%;
   text-align: center;
   font-size: 10px;
}

.spinner > div {
   background-color: #cdcdcd;
   height: 100%;
   width: 7px;
   height: 60px;
   display: inline-block;
   margin: 1px;

   -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
   animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
   -webkit-animation-delay: -1.1s;
   animation-delay: -1.1s;
}

.spinner .rect3 {
   -webkit-animation-delay: -1.0s;
   animation-delay: -1.0s;
}

.spinner .rect4 {
   -webkit-animation-delay: -0.9s;
   animation-delay: -0.9s;
}

.spinner .rect5 {
   -webkit-animation-delay: -0.8s;
   animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
   0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
   20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
   0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
   }  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
   }
}
/* end speenkeet */
