@font-face {
   font-family: 'Open Sans';
   src: url('/fnt/OpenSans.eot');
   src: url('/fnt/OpenSans.eot?iefix') format('eot'),
        url('/fnt/OpenSans.woff') format('woff'),
        url('/fnt/OpenSans.ttf') format('truetype'),
        url('/fnt/OpenSans.svg#webfont') format('svg');

   font-weight: normal;
   font-style: normal;
}

html, body {
   font-family: 'Open Sans';
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

body {
   position: relative;
   font-family: sans-serif;
   font-size: 12px;
   color: #454545;
   background: #efefef;
   min-height: 600px;
   overflow: hidden;
}

a {
   text-decoration: none;
   color: #0074D9;
}

a:hover {
   text-decoration: underline;
}

img {
   user-drag: none;
   -webkit-user-drag: none;
   -moz-user-select: none;
   vertical-align: middle;
}

input {
   margin-bottom: 10px;
   display: block;
}

input[type=text],
input[type=password] {
   height: 18px;
   width: 250px;
   border: solid 1px #cdcdcd;
   padding: 5px;
}

input[type=text]:hover,
input[type=password]:hover {
   border: solid 1px #9a9a9a;
}

input[type=submit] {
   border-radius: 1px;
   height: 28px;
   border: 0;
   background: #0074D9;
   background: orange;
   color: white;
   width: 260px;
   padding: 5px;
   cursor: pointer;
   font-size: 14px;
}

input[type=submit]:hover {

}

label {
   display: block;
   margin-top: 10px;
}

.centered-view {
   position: absolute;
   top: 12%;
   left: 50%;
   right: 0;
   margin-left: -130px;
   width: 260px;
   text-align: center;
}

#logo {
   margin-bottom: 40px;
}

#logo img {
   width: 120px;
}

#local-login {
   position: relative;
   text-align: left;
}

#register {
   text-align: left;
}

#show-register {
   float: right;
}

#facebook, #google {
   display: inline-block;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}

#social {
   height: 64px;
   text-align: center;
   white-space: nowrap;
}

#guest {
   cursor: pointer;
   transition: all 2s ease-in-out;
   opacity: 0.8;
}

#social div {
   display: inline-block;
   width: 33.333%;
   text-align: center;
}

#recover-password {
   float: left;
}

.strike {
   width:100%;
   text-align:center;
   border-bottom: 1px solid #cdcdcd;
   line-height:0.1em;
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 12px;
}

.strike span {
   font-weight: bold;
   background: #efefef;
   padding: 0 10px;
   color: #ababab;
}

#footer {
   position: fixed;
   bottom: 0;
   padding: 10px;
   width: 100%;
   border-top: solid 1px #cdcdcd;
   background: #efefef;
   overflow: hidden;
}

#footer a {
   text-decoration: none;
   display: inline-block;
   margin-right: 20px;
   opacity: 0.7;
   color: #333;
}

.error-message {
   margin-top: 10px;
   margin-bottom: 10px;
   color: red;
}

.content-block {
   margin-bottom: 10px;
}

.view-cover {
   position: absolute;
   top: 0;
   height: 100%;
   width: 100%;
   background: black;
   z-index: 800;
   opacity: 0.6;
}

.modal {
   position: absolute;
   width: 300px;
   top: 22%;
   left: 0;
   right: 0;
   margin: auto;
   padding: 20px;
   z-index: 1000;
   background: white;
   text-align: left;
   opacity: 0;
}

.modal .modal-submit {
   padding-left: 10px;
   padding-right: 10px;
   width: inherit !important;
   background: #4d70ea;
   margin-bottom: -5px;
}

.modal-section {
   margin-bottom: 15px;
}

#captcha {
   min-height: 80px;
   line-height: 80px;
   background: transparent url('/img/loadingCaptcha.gif') center no-repeat;
}

.close-modal {
   position: absolute;
   height: 23px;
   width: 23px;
   top: -5px;
   right: -5px;
   background: url('/img/close.png') no-repeat center;
   background-color: black;
   cursor: pointer;
   border: solid 2px white;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.close-modal:hover {
   background: url('/img/close.png') no-repeat center;
   background-color: #cc181e;
}

.share {
   position: absolute;
   right: -5px;
   top: 7px;
   height: 20px;
}

.share-button {
   display: inline;
   margin: 0;
}

#twitter-share {
   margin-left: 5px;
}

.visuallyhidden {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
}

.docs-icon {
   opacity: 0.8;
   margin-left: 2px;
   vertical-align: top;
}

#footer a:hover {
   color: black;
   opacity: 1;
}

