<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="UTF-8">
      <link rel="stylesheet" href="mail.css">
      <title>Activate your linkwrapper account</title>
   </head>
   <body>
      <table class="main-content">
         <tbody>
            <tr>
               <td>
                  <div class="block">
                     Welcome to linkwrapper!
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="block">
                     Please click on the link below to activate your account.
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="block">
                     <a class="main-btn" href="https://{domain}/activate?t={id}">Activate Account</a>
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  If you did not register for <a href="https://linkwrapper.com">linkwrapper</a>, feel free to ignore this email.
               </td>
            </tr>
         </tbody>
      </table>
      <table>
         <tbody>
            <tr>
               <td class="signature">
                  Follow on twitter: <a href="https://twitter.com/linkwrapper">@linkwrapper</a>
               </td>
            </tr>
         </tbody>
      </table>
   </body>
</html>
