<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="UTF-8">
      <link rel="stylesheet" href="mail.css">
      <title>Update linkwrapper Email</title>
   </head>
   <body>
      <table class="main-content">
         <tbody>
            <tr>
               <td>
                  <div class="block">You are receiving this because you requested to update the email address associated with your linkwrapper account. Please confirm your new address by clicking on the link below.</div>
               </td>
            </tr>
            <tr>
               <td>
                  <div class="block">
                     <a class="confirm-btn" href="https://{domain}/confirm/t={id}">Confirm Email Address</a>
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  If you did not request an email change, feel free to ignore this email.
               </td>
            </tr>
         </tbody>
      </table>
      <table>
         <tbody>
            <tr>
               <td class="signature">
                  Follow on twitter: <a href="https://twitter.com/linkwrapper">@linkwrapper</a>
               </td>
            </tr>
         </tbody>
      </table>
   </body>
</html>
